.reset___container {
  height: 80vh;
  min-height: 250px;
  display: flex;
  justify-content: center;
  align-items: center;
}
.reset___content {
  height: fit-content;
  min-height: 200px;
  max-height: 310px;
  width: 90%;
  max-width: 550px;
  background-color: var(--primary-one);
  border: 0.1px solid var(--primary-one);
  border-radius: 5px;
  box-shadow: 5px 5px 5px var(--shadow);
  padding: 2% 2% 1% 2%;
  color: var(--text-primary);
  display: flex;
  flex-direction: column;
  justify-content: center;
  text-shadow: 1px 1px 3px var(--shadow);
  h2 {
    margin-bottom: 0;
    padding-bottom: 0;
  }
}

.reset___input_container {
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;

  p {
    font-size: clamp(12px, 4vw, 24.7px);
  }
  input {
    height: clamp(30px, 2vw, 40px);
    width: 100%;
    margin-bottom: 10px;
    border: 0;
    text-align: center;
    font-size: clamp(12px, 4vw, 22px);
    color: var(--input-text);
    text-shadow: 0px 1px 2px rgb(69, 69, 69);
    background-color: var(--input);
    box-shadow: inset 2px 2px 5px var(--shadow),
      inset -2px -2px 5px var(--primary-two);
    border-radius: 5px;
    transition: all 0.2s ease-in-out;
    appearance: none;
    -webkit-appearance: none;
  }
  input::placeholder {
    color: var(--input-text);
    text-shadow: 0px 1px 2px rgb(69, 69, 69);
  }
  input:focus {
    background-color: var(--input-focus);
    text-shadow: 0px 1px 2px rgb(69, 69, 69);
    outline: none;
    box-shadow: inset 1px 1px 2px var(--shadow),
      inset -2px -2px 2px var(--primary-two);
  }
}

.reset___message_container {
  width: 100%;
  border: 0;
  font-size: clamp(12px, 4vw, 18px);
  min-height: clamp(29px, 2vw, 39px);
  .text {
    padding: 0px 5px 5px 5px;
    background-color: var(--message-error);

    border-radius: 5px;
    box-shadow: inset 2px 2px 5px var(--shadow),
      inset -2px -2px 5px var(--primary-two);

    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
  }
  .noText {
    padding: 0px;
  }
}

.reset___btn_container {
  display: flex;
  justify-content: flex-end;
  margin-bottom: 20px;

  button {
    background-color: var(--primary-one);
    border: none;
    font-size: clamp(14px, 4vw, 22px);
    color: var(--text-primary);
    border-radius: 10px 0;
    border: 5px double var(--primary-two);
    text-shadow: 1px 1px 1px rgb(53, 53, 53);
    box-shadow: inset 2px 2px 5px var(--shadow),
      inset -1px -1px 2px var(--primary-two);
  }
  button:hover {
    transform: scale(105%) rotate(-2deg);
    box-shadow: inset 1px 1px 2px var(--shadow),
      inset -1px -1px 1px var(--primary-two);
  }
}
