body {
  margin: 0 auto;
  padding: 0 auto;

  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color: var(--yellow);
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}

:root {
  --dark-green: rgb(59, 76, 33);
  --green: rgb(27, 100, 50);
  --green-op: rgba(119, 155, 65, 0.5);

  --dark-yellow: rgb(222, 176, 80);
  --yellow: rgb(255, 202, 92);

  --dark-red: rgb(186, 32, 37);
  --pink: rgb(237, 26, 89);

  --text-primary: rgb(49, 39, 18);
  --navDevider: rgba(237, 26, 89, 0.257);
}

.dark {
  --dark-green: rgb(45, 58, 25);
  --green: rgb(18, 68, 34);
  --green-op: rgba(49, 82, 20, 0.5);

  --dark-yellow: rgb(222, 176, 80);
  --yellow: rgb(198, 155, 69);

  --dark-red: rgb(131, 26, 29);
  --pink: rgb(234, 32, 87);

  --text-primary: rgb(47, 39, 21);
  --navDevider: rgb(234, 32, 87, 0.5);
}
